{% load static %}
{% load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Cadastro</title>
    <link rel="shortcut icon" href="{% static 'img/icon2.png' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body>
    
  	<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
		<div style="height: 670px !important;" id="containerInteiro" class="card card0 border-0">
			<div class="row d-flex">
				<div class="col-lg-6">
					<div class="card1 pb-5">
						<div id="img-logo2" class="row"> <img style="width: 140px; height: 80px;" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/461/5790883461_b66f315a-7114-490c-a441-781ad19e9cb8.png?cb=1628363674" class="logo"> </div>
						<div style="margin-top: 70px !important;" class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://image.freepik.com/vecteurs-libre/illustration-vectorielle-travail-pression-concept-abstrait-gestion-du-stress-surcharge-travail-anxiete-chronique-sante-physique-tension-emotionnelle-pression-delais-metaphore-abstraite-du-bien-etre-employes_335657-1915.jpg" class="image"> </div>
					</div>
				</div>
				<div class="col-lg-6">
					<div id="register" class="card2 card border-0 px-4 py-5">
						<div class="login100-form validate-form">
							<div>
								<span class="login100-form-title mb-4 ml-1">
									Atualizar cadastro
								</span>
							</div>
							<div class="wrap-input100 validate-input" data-validate = "Password is required" data-toggle="tooltip" data-placement="top" title="Atualize seu cadastro">
								<form class="form-register"  action="{% url 'cadastroPublico'%} " method="post" autocomplete="off" enctype="multipart/form-data">
									<br>
									{% csrf_token %}
									{% bootstrap_form form %}
									<br>
									{% buttons %}
										<button id="createEvent" class="btn-criar-evento" type="submit">CADASTRAR</button>
									{% endbuttons %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
     
      
            
  
      {% bootstrap_javascript jquery='full' %}
      <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'jquery.mask.min.js' %}"></script>
      <script src="{% static 'mask.js' %}"></script>
</body>
</html>