{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}
<html lang="pt-br">
<head>
  <!DOCTYPE html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/main.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="formoid_files/formoid1/formoid-solid-purple.css" type="text/css" />

  <!--
    Seu Google client ID
    Esse client ID foi criado no passo anterior
  -->

  <title>Atualizar dados</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
<!-- INICIO MAIN -->
    <main class="main-cadastro">
      <br>
      <br>
      <form class="formoid-solid-purple" style="font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:480px;min-width:150px" action="{% url 'cadastroEstabelecimento' email%} " method="post" autocomplete="off">
        <div class="title" style="background-color: #7C83FD; color: #ffff; padding: 1%;"><h2>Atualizar Cadastro</h2></div>
        <br>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="botoes-login btn ">Cadastrar</button>
        {% endbuttons %}
      </form> 
    </main>
          

    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jquery.mask.min.js' %}"></script>
    <script src="{% static 'mask.js' %}"></script>
</body>
</html>