{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!-- form de cadastro de evento aqui -->

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>

<!-- {% bootstrap_messages %} -->

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <a style="text-decoration: none;" href="{% url 'criarEvento' %}">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Criar Agendamento
                            </div>
                        </a>
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <!--<div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Eventos criados por você</div>
                        <!--<div class="h5 mb-0 font-weight-bold text-gray-800">INSERIR VALORES AQUI</div>-->
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="width: 1070px !important; margin-bottom: 2px !important;"/>

    <h4 class="h4 mb-3 text-gray-800">PREENCHA OS DADOS E CRIE UM EVENTO</h4><br><br>

    <div class="form-criar-evento">
        <form class="form-register" action="{% url 'criarEvento' %} " method="post" autocomplete="off" enctype="multipart/form-data">
            <br>
                {% csrf_token %}
                {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button id="btn-cadastro-publico" type="submit" class="botoes-login btn register">CRIAR</button>
            {% endbuttons %}
        
        </form>
    </div>

        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'jquery.mask.min.js' %}"></script>
        <script src="{% static 'mask.js' %}"></script>
    {% endblock %}
