{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!-- form de cadastro de evento aqui -->

<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<!-- {% bootstrap_messages %} -->

<h4 class="h4 mb-0 text-gray-800">Preencha os dados e crie um Evento.</h4>

<div class="form-criar-evento">
    <form class="form-register"  action="{% url 'criarEvento' email %} " method="post" autocomplete="off">
        <br>
            {% csrf_token %}
            {% bootstrap_form form %}
        <br>
        {% buttons %}
            <button id="btn-cadastro-publico" type="submit" class="botoes-login btn register">CRIAR</button>
        {% endbuttons %}
    
    </form>
</div>

    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'jquery.mask.min.js' %}"></script>
    <script src="{% static 'mask.js' %}"></script>
{% endblock %}
