{% load static%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gerenciar Reservas</title>
	<!--sjsjsj-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt">
					<img class="imgLoginInit" src="https://i.pinimg.com/originals/34/cf/d5/34cfd565025d5736dba3c65d920b944b.jpg" alt="IMG">
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Entrar
					</span>
					<br>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" data-toggle="tooltip" data-placement="top" title="Entre com seu login Google">
						<a class="btn botoes-login" href="{% provider_login_url 'google' %}">
							<img class="img-login" src="{% static 'assets/img/google.png'%}" alt="">
							
						</a>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required" data-toggle="tooltip" data-placement="top" title="Entre com seu login SUAP">
						<a style ="color: #4a69bd; outline: 0 none;" class="btn botoes-login" href="{% url 'social:begin' 'suap' %}">
							<img class="img-login2" src="{% static 'assets/img/Suap.png'%}" alt=""> 
							<!-- SUAP -->
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="js/main.js"></script>

</body>
</html>