{% extends 'dashboard.html' %}
{%load static%}

{% block content %}

{% if listaPessoas %}

  <br><h4 class="h4 mb-0 text-gray-800" style="margin: auto !important; margin-top: -5px !important; margin-bottom: 30px !important;">LISTAGEM DE PESSOAS NO SEU EVENTO</h4>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col"><a class="btn btn-success" href="{% url 'baixarPdf' idevento2 %}"><b>Baixar PDF</b></a></th>
      </tr>
    </thead>
    <tbody>
      {% for p in listaPessoas %}
        <tr>
          <th scope="row">#</th>
          <td>{{p.nome}}</td>
          <td>{{p.telefone}}</td>
          <td><a style="color: #858796;" href="mailto:{{p.email}}">{{p.email}}</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>

{% else %}
  <br><h4 class="h4 mb-0 text-gray-800 even" style="margin: auto; padding: 180px; padding-top: 90px !important;">Ninguém confirmou presença no seu evento :(</h4> 
{% endif %}

<script>
  document.querySelector('#h4Stile').style.display = 'none'
</script>
  
{% endblock %}