{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load static %}

{% block event %}

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>
    {% if tipoUsuario == 'normal' %}
    <br><h4 class="h4 mb-0 text-gray-800" style="margin: auto !important;">EVENTOS QUE FORAM CONFIRMADOS POR VOCÊ</h4>

     <div id="card-suas-reservas" class="card mb-3 event-card" style="margin: auto; margin-top: 40px;">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-warning text-uppercase"><b>Evento</b></h5>
                        <p class="card-text description">Evento em Pau do Ferros - Finecap 2022</p>
                        <p style="margin-top: -14px !important;" class="card-text">Total de vagas disponíveis: <b>10</b> <br><div class="rest-vagas"><b style="margin-left: 45px !important;">Você confirmou presença nesse evento</b></div></p>
                        <p class="card-text"><small class="text-muted">Inicio do evento em 09/09/2022</small></p>

                        <hr>

                        <div class="buttonEventCheck">
                            <a href="#" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span style="color: #fff !important;" class="text"><b>Cancelar Participação</b></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endif%}

{% endblock %}