{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load static %}

{% block event %}

    <div class="container messageBootstrap">
        {% bootstrap_messages %}
    </div>
    
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>

    <hr id="linha-dash" class="hr-esta" style="width: 100% !important; height: 10px;"/>

    {% if event %}
        <br><h4 class="h4 mb-0 text-gray-800 even" style="margin: auto; margin-top: -20px;">EVENTOS QUE FORAM CONFIRMADOS POR VOCÊ</h4> 
        
        {% for ev in event %}
        <div id="card-suas-reservas" class="card mb-3 event-card" style="margin: auto; margin-top: 40px;">
            <div class="card border shadow h-100 py-2">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/media/{{ ev.idEvento.foto }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-warning text-uppercase"><b>{{ ev.idEvento.titulo }}</b></h5>
                            <p style="max-height: 55px !important;" class="card-text description">{{ ev.idEvento.descricao}}. Será realizado em: <b> {{ev.idEvento.local}}</b></p>
                            <p style="margin-top: -10px !important;" class="card-text"><b>Total de vagas disponíveis: {{ ev.idEvento.qtdPessoas}}</b> 
                            <br><div style="margin-top: -5px !important;" class="rest-vagas"><b style="margin-left: 45px !important;">Você confirmou presença nesse evento</b></div>
                            <p class="card-text"><small class="text-muted">Inicio do evento em {{ ev.idEvento.dataEvento}} de {{ev.idEvento.horaInicial}} até {{ev.idEvento.horaFinal}}</small></p>

                            <hr>

                            <div class="buttonEventCheck your-reserves">
                                <a style="width: 170px !important;" href="{% url 'deletePublicoEventos' ev.idEvento.id iduser %}" class="btn btn-danger btn-icon-split your-reserves">
                                    <span style="color: #fff !important; font-size: 14px; margin-top: 3px !important;" class="text"><b>Cancelar Participação</b></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <br><h4 class="h4 mb-0 text-gray-800 even" style="margin: auto; padding: 180px; padding-top: 90px !important;">Olá, você ainda não está participando de nenhum evento :( <br><br>Você precisa participar de algum evento, <a href="{% url 'eventosDisponiveis' %}">clique aqui </a> e veja alguns do seu interesse.</h4> 
    {% endif %}

{% endblock %}
<script src="../../static/js/main.js"></script>