.avatar-url{
    margin-top: 5% !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    margin-left: 8% !important;
}

#helloUser-des{
    margin-left: 6% !important;
    font-size: 90% !important;
    color: #fff !important;
}