{% extends 'dashboard.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!-- form de cadastro de evento aqui -->

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>

<!-- {% bootstrap_messages %} -->


    <h4 class="h4 mb-3 text-gray-800 create">EDITE SEU EVENTO</h4><br><br>

    <div class="form-criar-evento">
        <form class="form-register" action="." method="post" autocomplete="off" enctype="multipart/form-data">
            <br>
                {% csrf_token %}
                {{ form.as_p }}
            <br>
            {% buttons %}
                <button id="btn-cadastro-publico" type="submit" class="botoes-login btn register create">CRIAR</button>
            {% endbuttons %}
        
        </form>
    </div>

        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'jquery.mask.min.js' %}"></script>
        <script src="{% static 'mask.js' %}"></script>

        <script>
            const i = document.querySelectorAll('input')
            const t = document.querySelectorAll('label')

            i[1].classList.add('form-control')
            i[2].classList.add('form-control')
            i[3].classList.add('form-control')
            i[4].classList.add('form-control')
            i[5].classList.add('form-control')
            i[6].classList.add('form-control')
            i[7].classList.add('form-control')

            i[3].type='number'
            i[4].type = 'date'
            i[5].type = 'time'
            i[6].type = 'time'

            t[0].textContent = 'Título do evento'
            t[1].textContent = 'Descrição do evento'
            t[2].textContent = 'Quantidade de pessoas'
            t[3].textContent = 'Data do evento'
            t[4].textContent = 'Hora inicial do evento'
            t[5].textContent = 'Hora final do evento'
            t[6].textContent = 'Local do evento'
            t[8].textContent = 'Imagem usada '

            t[7].style.display = 'none';
            document.querySelector('select').style.display = 'none'

        </script>

    {% endblock %}
